version: "3.9"

services:
  frontend:
    build:
      context: ./src
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app
    working_dir: /app
    command: ["npm", "run", "dev"]
